body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    font-family: sans-serif;
}

.the-words {
    color: chartreuse;
    filter:brightness(0.8);
    transition: filter 0.1s ease;
}

.the-words:hover {
    cursor: pointer;
    filter:brightness(1);
}

.change {
    color: hotpink;
    filter:brightness(0.8);
    transition: filter 0.1s ease;
}

.change:hover {
    cursor: pointer;
    filter:brightness(1);
}