@import url("https://use.typekit.net/iga8wmf.css");

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    min-height: 100vh;
    font-family: "calling-code", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden; /* prevent scrolling */
}

p {
    position: absolute;
    bottom: 1em;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5em 1em;
    font-size: 0.6em;
    white-space: nowrap;
    font-style: italic;
}

h1 {
    font-size: 1.2em;
    white-space: nowrap;
    font-style: italic;
}

.the-words {
    color: chartreuse;
    filter:brightness(0.8);
    transition: filter 0.1s ease;
}

.the-words:hover {
    cursor: pointer;
    filter:brightness(1);
}

.change {
    color: hotpink;
    filter:brightness(0.8);
    transition: filter 0.1s ease;
}

.change:hover {
    cursor: pointer;
    filter:brightness(1);
}

/* Tablet */
@media screen and (min-width: 425px) {
  h1 { font-size: 1.5em; }
  p { font-size: 0.7em; }
}

/* Tablet */
@media screen and (min-width: 768px) {
  h1 { font-size: 2em; }
  p { font-size: 0.8em; }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  h1 { font-size: 2.6em; }
  p { font-size: 1em; }
}